DB_URL=jdbc:postgresql://localhost:5432/helmdb
DB_USERNAME=postgres
DB_PASSWORD=

PORT=7666
ALLOWED_ORIGIN=http://localhost:4200

RATE_LIMIT_PER_MINUTE=100
RATE_LIMIT_BURST=10
RATE_LIMIT_AUTH_PER_MINUTE=5

PROD=false
